.bg-custom{
    background-color: #f2ca52;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #f0f0f0; /* Color de fondo personalizado */
}

.account-pages {
    width: 100%;
    max-width: 420px;
}

.slider{
    background-image: url(../img/banner_isft.jpg);
    height: 30vh;
    background-size: cover;
    animation: movimiento 25s infinite linear alternate;
}

@keyframes movimiento {
    0% {
        background-position: bottom left;
    }

    100% {
        background-position: top right;
    }
}